body {
    color: rgb(0, 0, 0);
    background-color: rgb(116, 164, 236);
    margin: 0px;
    font font-family: :BBH Sans Hergarty" sans-serif;
}

header {
    border-bottom: solid 2px rgb(255, 249, 249);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0)
}

section {
    background: green;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}