body {
    color: rgb(0, 0, 0);
    background-color: rgb(116, 164, 236);
    margin: 0px;
    font font-family: :BBH Sans Hergarty" sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(255, 249, 249);
    padding: 20px;
    font-size: 32px;
    color: rgb(0, 0, 0)
}

.chamada{
    background: green;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 40px;
}

p{
    font font-size: 20px;
}

img{
    height: 200px;
}
.categorias-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categorias{
    padding-left: 20px;
    padding-right: 20px ;
    margin-top: 50px;
}
.categorias-videos img{
 opacity: 0.5;   
 height: 200px;
}
.categorias-videos img:hover{
opacity: 1.0;
border: 1px solid black;
}
.categorias h2 {
   color:blueviolet;
}